[submodule "themes/pointyfar"]
	path = themes/pointyfar
	url = git@github.com:pointyfar/base-hugo-theme.git
[submodule "themes/monica"]
	path = themes/monica
	url = git@github.com:tomas-chudjak/gohugo-theme-monica.git
[submodule "themes/pickles"]
	path = themes/pickles
	url = git@github.com:mismith0227/hugo_theme_pickles.git
[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/ldeso/hugo-flex.git
