{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $skip := false }}
    {{- if eq .Identifier "blog" }}
      {{- $posts := where site.RegularPages "Section" "posts" }}
      {{- if not $posts }}
        {{- $skip = true }}
      {{- end }}
    {{- end }}
    {{- if not $skip }}
      {{- $liClass := "" }}
      {{- $attrs := dict "href" .URL }}
      {{- if $page.IsMenuCurrent .Menu . }}
        {{- $liClass = "active" }}
        {{- $attrs = merge $attrs (dict "aria-current" "page") }}
      {{- else if $page.HasMenuCurrent .Menu .}}
        {{- $liClass = "ancestor" }}
        {{- $attrs = merge $attrs (dict "aria-current" "true") }}
      {{- end }}
      {{- $name := .Name }}
      {{- with .Identifier }}
        {{- with T . }}
          {{- $name = . }}
        {{- end }}
      {{- end }}
      <li{{ with $liClass }} class="{{ . }}"{{ end }}>
        <a
          {{- range $k, $v := $attrs }}
            {{- with $v }}
              {{- printf " %s=%q" $k $v | safeHTMLAttr }}
            {{- end }}
          {{- end -}}
        >{{ $name }}</a>
        {{- with .Children }}
          <ul>
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
          </ul>
        {{- end }}
      </li>
    {{- end }}
  {{- end }}
{{- end }}
