{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="mg-row card-grid">
    {{ range where site.Data.projects "featured" true }}
    <div class="mg-x12 mg-m4 card-col">
        <div class="card">
            <h3>
                <a href="{{ .url }}" target="_blank" rel="noopener noreferrer"
                    >{{ .name }}</a
                >
            </h3>
            <p class="card-desc">{{ .description }}</p>
            <div>
                {{ range .tags }}
                <span class="tag">{{ . }}</span>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
