{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ with site.Data.projects }}
<h2 class="section-title">Projects</h2>
<div class="mg-row card-grid">
    {{ range . }}
    <div class="mg-x12 mg-m4 card-col">
        <div class="card">
            <h3>
                <a href="{{ .url }}" target="_blank" rel="noopener noreferrer"
                    >{{ .name }}</a
                >
            </h3>
            <p class="card-desc">{{ .description }}</p>
            {{ with .tags }}
            <div>
                {{ range . }}
                <span class="tag">{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}
